asgiref==3.7.2
crispy-tailwind==0.5.0
dj-database-url==2.1.0
Django==3.2.1
django-crispy-forms==2.0
gunicorn==21.2.0
packaging==23.1
pillow==10.2.0
psycopg2==2.9.7
pypng==0.20220715.0
pytz==2023.3.post1
qrcode==7.4.2
segno==1.6.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
whitenoise==6.5.0
