<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="{% static "links/style.css" %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <title>Shortly - Link Shortener</title>
    <style>
        .github-link {
            color: blue;
        }

        {% block style %}
        {% endblock style %}
    </style>
</head>

<body>
<header>
<nav class="navbar">
    <div class="logo"><a href="{% url "home" %}">Shorty</a></div>
    <ul class="menu border rounded p-4 my-4 hover:bg-gray-50" style="display:flex;border-color:white;">
      <li><a href="{% url "create-link" %}" class="add_link" style="pointer-events: none;">Add Link </a></li>
      <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="currentColor" alt="Add Link Icon">
        <path fill-rule="evenodd"
            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
            clip-rule="evenodd" /></li>
    </ul>
  </nav>
  <div class="text-content">
    {% block content %}{% endblock content %}
  </div>
</header>
</body>
</html>

